.container {
    background-color: gray;
}

.jumbotron {
    
}

.btnContainer {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn {
    /* background-color: green;
    border: none;
    color: white; */
    margin: 0 20px;
}

.btn-search {
    margin: 1em auto;
}

.currency {
    margin: 3.6em;
}

.currency .row {}

.clock {
    margin: 0 auto;
    margin-top: -2em;
    font-size: 2em;
    font-weight: 500
}

.numberInput {
    margin-top: 1em;
}

